@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap"); /*nunito*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap"); /*lora*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap"); /*nunito bold*/

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#button {
  font-family: "Nunito";
}

.topnav {
  flex: 0 1 auto;
  overflow: hidden;
  border-bottom: 2px solid #979797;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 20px 35px;
  text-decoration: none;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
}

.gallery {
  margin: 2vw;
  border: none !important;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

* {
  padding: 0;
  margin: 0;
}

canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
  border-top: black;
  border: 5px;
}