@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,400;1,600&display=swap"); /*arimo*/

form :focus:required:invalid {
  border-color: #a94442;
}

.thumbnail-item:hover {
  transform: scale(1.03);
}

.thumbnail-title {
  color: #111;
  font-family: "Arimo", sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 2vw;
}

html,
body {
  height: 100%;
}
.radio {
  height: 100px;
  width: 100px;
  margin-left: 10px;
}

.check {
  margin-left: 1.5vw;
  margin-bottom: 1vw;
}

.form-check-label {
  margin-left: 0.5vw;
}

body {
  display: flex;
  flex-direction: column;
}

#button {
  font-family: "Nunito";
}

.topnav {
  flex: 0 1 auto;
  overflow: hidden;
  border-bottom: 2px solid #979797;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 20px 35px;
  text-decoration: none;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
}

.gallery {
  margin: 2vw;
  border: none !important;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

* {
  padding: 0;
  margin: 0;
}

canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
  border-top: black;
  border: 5px;
}
